@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

 body {
     margin: 0;
     background-color: #1abc9c;
     background-image: url('logo.png');
     background-position: center center;
     background-size: 40vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     font-family: 'Work Sans', sans-serif;
 }
 nav {
     overflow: hidden;
     background: #bdc3c7;
     position: fixed;
     bottom: 0;
     width: 100%;
     padding: 10px 0;
     box-shadow: inset 0px 1px white;
     padding: 5px 0;
 }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.start {
     float: left;
     cursor: pointer;
     margin-left: 5px;
     margin-right: 10px;
     padding: 5px 10px;
     border: 1px;
     border-style: solid;
     border-color: white black black white;
     font-weight: 300;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

.start:active {
    border: 1px;
    border-style: solid;
    border-color: black white white black;
}

.time {
    float: right;
    margin: 0 5px;
    border: 1px;
    border-style: solid;
    border-color: black white white black;
    padding: 5px 10px;
}

.desktop {
    position: relative;
    color: white;
    margin: 10px;
}

.desktop p {
    margin-top: 0px;
}

a {
    text-decoration: none;
}

.email {
    float: right;
}

.desktop a {
    color: white;
}

.icon_lg {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 2px;
    text-align: center;
    width: 100px;
    vertical-align: top;
    display: inline-block;
}

.icon_lg:hover {
    border: 1px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
    user-select: none;
}

.icon_sm {
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 3px;
    width: 14px;
}


.window {
    display: none;
    position: absolute;
    border: 1px;
    border-style: solid;
    border-color: white black black white;
    padding: 2px;
    background-color: #bdc3c7;
    width: 400px;
    height: 400px;
}

header {
    background-color: #000080;
    padding: 1px 1px 0px 1px;
    user-select: none;
    cursor: move;
}

header h5 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.close {
    border: 1px;
    border-style: solid;
    border-color: white black black white;
    background-color: #bdc3c7;
    color: black;
    width: 12px;
    height: 12px;
    cursor: pointer;
    vertical-align: top;
    float: right;
    margin-top: 2px;
    margin-right: 3px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.content{
    background: white;
    color: black;
    padding: 2px;
    height: 93.5%;
}

.window .content .icon_lg {
    display: inline-block;
    color: black;
}

.taskbar {
    display: none;
    padding: 5px 10px;
    border: 1px;
    border-style: solid;
    border-color: black white white black;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2M8cODAf3t7ewbG/////z948CADAFuqCj64BtLKAAAAAElFTkSuQmCC);
}
